.disp {
    width: 250px;
    min-height: 100px;
    font-size: 50px;
    border-radius: 7px;
    background-color: springgreen;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 0px 0px 0px;

}

.error{
    color: red;
    font-size: 22px;
}

.red{
    color: red;
}

.message{
    font-size: 22px;
}

.darkgreen{
    color: darkgreen;

}
