.disp {
    width: 250px;
    /*display: flex;*/
    /*padding: 10px;*/
    /*justify-content: center;*/
    min-height: 100px;
    font-size: 50px;
    /*border: 2px solid #11695d;*/
    border-radius: 7px;
    background-color: springgreen;
    margin-bottom: 20px;

    text-align: center;
    padding: 20px 0px 0px 0px;

}

.red{
    color: red;
}

.darkgreen{
    color: darkgreen;

}
